{% extends "base.html" %}

{% block content %}
<div class="container">
  <section>
    <div class="page-header"><h1>Secret Share</h1></div>
    <form class="form-horizontal" id="password_create" method="post">
      <textarea rows="10" cols="50" id="password" name="password" autofocus="True" placeholder="Share a Secret"></textarea>
      <select name="ttl">
        <option>Week</option>
        <option>Day</option>
        <option>Hour</option>
      </select>
      <button type="submit" class="btn btn-primary generate-url-button" id="submit">Generate url</button>
    </form>
    <h3>Using this tool</h3>
      <p>This tool allows you to share secrets in a secure way.
      <ol>
          <li>Enter the secret and its expiration time</li>
          <li>Share the one time use link</li>
      </ol>
      </p>
      <p>
      Note that the link will <i>only work once</i>.
      </p>
  </section>
</div>
{% endblock %}

{% block js %}
{% endblock %}
